@inherits EmployeeComponentBase


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
        <h5 class="card-title">@employee.Id</h5>
        <p class="card-text">@employee.Name</p>
        <a href="#" class="btn btn-primary">@employee.City</a>
                </div>


    <a href="employeeDetails/@employee.Id">Go To Details</a>
            </div>